<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>		
	<add key="BatchFilePath" value="C:\\EmperiumBatchFile\\Raisepo.bat" />
	<add key="WeekDay" value="6" />
	<add key="Hour" value="12" />
	<add key="Minute" value="00" />	

	<add key="Process1StartName" value="Emperium RIB version 3" />
	<add key="Process1Name" value="Emperium RIB version 3.exe" />
	<add key="Process1Path" value="C:\\Program Files\\e-novations (London) Ltd\\Emperium GMSB" />
	<add key="Process1Interval" value="120" />
	
	<add key="LogPath" value="C:\\EmperiumBatchFile\\WriteLog.txt" />

	</appSettings>
</configuration>
